<!DOCTYPE html>
<html lang="lt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dalyvavimo Apmokėjimas</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header>
    <h1>Nuorodos į pasižaidimų apmokėjimą</h1>
  </header>
  <main>
    <h2>Savaitės pasižaidimai</h2>
    <div class="index-buttons">
      <a href="pirmadienio-mix-20-22.html">Pirmadienio MIX C+ 20:00 - 22:00</a>
      <a href="antradienio-dieniniai-c-12-14.html">Antradienio Dieniniai C 12:00 - 14:00</a>
      <a href="antradienio-cplus-18-20.html">Antradienio C+ 18:00 - 20:00</a>
      <a href="antradienio-dminusc-2130-23.html">Antradienio D-/C 21:30 - 23:00</a>
      <a href="treciadienio-c-21-23.html">Trečiadienio C 21:00 - 23:00</a>
      <a href="ketvirtadienio-dieniniai-cplus-12-14.html">Ketvirtadienio Dieniniai C+ 12:00 - 14:00</a>
      <a href="ketvirtadienio-c-20-22.html">Ketvirtadienio C 20:00 - 22:00</a>
      <a href="penktadienio-cplus-19-21.html">Penktadienio C+ 19:00 - 21:00</a>
      <a href="penktadienio-dminusc-19-21.html">Penktadienio D-/C 19:00 - 21:00</a>
      <a href="sestadienio-moteru-c-12-14.html">Šeštadienio Moterų C 12:00 - 14:00</a>
      <a href="sestadienio-vyru-c-14-16.html">Šeštadienio Vyrų C 14:00 - 16:00</a>
      <a href="sekmadienio-mix-c-12-14.html">Sekmadienio MIX C 12:00 - 14:00</a>
      <a href="sekmadienio-vyru-cplus-16-18.html">Sekmadienio Vyrų C+ 16:00 - 18:00</a>
      <a href="sekmadienio-moteru-cplus-18-20.html">Sekmadienio Moterų C+ 18:00 - 20:00</a>
    </div>
  </main>
</body>
</html>
